In [1]:
def addition(a,b):
    return a+b

In [2]:
lambda a,b:a+b

In [6]:
additions = lambda a,b:a+b
type(additions)
print(additions(5,6))

11

In [7]:
def even(num):
    if num%2==0:
        return True
    
even(24)

True

In [8]:
even1 = lambda num:num%2==0
even1(12)

True

In [9]:
##Map()

numbers = [1,2,3,4,5,6]
def squared(number):
    return number**2
squared(2)

4

In [11]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [8]:
def square(x):
    return x*x

numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
##Lambda function with map
numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [12]:
##Map multiple iterable

numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [13]:
#Use map to convert strings to integers
str_numbers = ['1','2','3','4']
int_numbers = list(map(int,str_numbers))

print(int_numbers)

[1, 2, 3, 4]

In [14]:
words=["apple","banana","cherry"]
upper_word = list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [15]:
#Map fucntion to a list of dictionary
def get_name(person):
    return person['name']

people=[
   {'name':'Krish','age':32},
   {'name':'Abhay','age':21}
]

list(map(get_name,people))

['Krish', 'Abhay']