In [1]:
##creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))

tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
mixed_tuple = (1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [11]:
##tuples operation

number1 = (1,2,3,4,5)
number2 = (6,7,8,9)
print(number1)
print(number2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9)

In [13]:
concatenation_tuple = number1+number2
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
number1 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [17]:
## Immutable nature of tuples

list = [1,2,3,4,5]
print(list)

list[1] = "Abhay"
print(list)

[1, 2, 3, 4, 5]
[1, 'Abhay', 3, 4, 5]

In [18]:
number1 [1] = "Abhay"
print(number1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
##Tuple Methods

print(number1.count(1))
print(number1.index(3)) #index of the number

1
2

In [ ]:
##Packing and unpacking tuple
##Packing
packed_tuple = 1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [23]:
##Unpacking

a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
hello
3.14

In [26]:
##unpackign with

numbers = (1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [31]:
##Nested Tuples
#Nested List
lst = [[1,2,3,4],[6,7,8,9],["Hello",3.14,"c"]]

lst[0][2]
lst[0][0:3]

[1, 2, 3]

In [34]:
nested_tuple = ((1,2,4),("a","b","c"),(True,False))

##access the elements inside a tuple

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 4)
c

In [37]:
##iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 4
a b c
True False