In [1]:
##declaring and assigning variables 

age=21
height=6
name="Abhay"
is_student = True

##printing the varibles

print("age : ",age)
print("Height: ",height)
print("Name: ",name)

age :  21
Height:  6
Name:  Abhay

In [ ]:
##naming conventions 
##variavle names should be descriptive
## They must start with a letter or an '_' and contains letters,numbers and underscores
##variables names is case sensitive

first_name = "Abhay"
last_name = "Raj"

In [6]:
##understanding variable types 
## Pythin is dynamically typed, types of a variable is determined at runtime

age = 23
height=5.1
name="Abhay"

print(type(age))

<class 'int'>

In [7]:
##type checking and conversion

type(height)

float

In [ ]:
age=25
print(type(age))

##type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [10]:
height=5.12
type(height)

float

In [11]:
int(height)

5

In [12]:
float(int(height))

5.0

In [13]:
#Dynamic Typing
#Python allows the type of variable to change as the program executes

var=10
print(var,type(var))

var="Hello"
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>

In [ ]:
#input

age=int(input("What is the age : ")) #typecast the string into integer
print(age,type(age))

23 <class 'int'>

In [ ]:
## Simple Calculator

num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

sum=num1+num2
difference = num1-num2
product = num1*num2
quotient = num1/num2

print("Sum :",sum)
print("Difference :",difference)
print("Product :",product)
print("Quotient :",quotient)

Sum : 11.0
Difference : -1.0
Product : 30.0
Quotient : 0.8333333333333334